<h1><%= @recipe.name %></h1>
<h3>Ingredients: <%= @recipe.ingredients %></h3>
<h3>Cook Time: <%= @recipe.cook_time %></h3>

<button type="button" name="button"><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></button><br><br>
<button type="button" name="button"><a href="/recipes">Home</a></button><br><br>

<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
